.menu-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    .content {
        color: brown;
    }
}

.app {
    .main-container {
    position: absolute;
    width: 100%;
    height: 100%;
    }
}